body{
    /* background-color: gold; */
    background-color: white;
    padding-bottom: 3em;
    height: 150vh;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#title{
    position: absolute;
    left: 20%;
    top: 40%;
    font-size: 4em;
    background-color: pink;

}

#titleback{
    background-color: white;
    width: 89em;
    height: 4em;
    position:fixed;
    z-index: 99;
    top: 0;
}

#liltitle{
    position: fixed;
    left: 40%;
    top: 3%;
    font-size: 0.8em;
    text-transform: uppercase;
    /* background-color: pink; */
    /* font-family: pragmatapro-fraktur, serif;
    font-weight: 700;
    font-style: normal; */
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 700;
    font-style: normal;
    z-index: 99;
}

.navbar{
    position: fixed;
    line-height: 1.5em;
    width: 32em;
    /* background-color: orangered; */
    display: flex;
    flex-wrap: wrap;
    bottom: 2em;
    margin: 1.5em;;
}

h2{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1em;
    font-weight: 300;
}

.tag{
    border: black 0.1em solid;
    background-color: white;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.1em .5em 0.1em .5em;
    margin: 0.2em 0.1em;

}

.grid{
    position: absolute;
    left: 20em;
    top: 4em;
}
.gallery{
    width: 7em;
    height: 9em;
    object-fit: cover;
    padding: .2em;
}

a:link{
    color:black;
    text-decoration: none;
}

a:hover{
    color: orangered;
    text-decoration: none;

}

a:visited{
    color:black;
    text-decoration: none;

}

a:active{
    color:black;
    text-decoration: none;

}

/* #everything:hover{
    border:none;
    background-color: rgb(15, 179, 43);
} */

.tag:hover{
    background-color: orangered;
    border: orangered 0.1em solid;
    color:white;
    text-decoration: none;

}
