body{
    /* background-color: gold; */
    background-color: white;
    padding-bottom: 3em;
    height: 150vh;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#bkgvid{
    position: fixed;
    right: -1em;
    bottom: 0;
    width: 115em;
    top: 0em;
}


#title{
    position: absolute;
    left: 18%;
    top: 43%;
    font-size: 4em;
    color: white;
}

#titleback{
    background-color: white;
    width: 89em;
    height: 4em;
    position:fixed;
    z-index: 99;
    top: 0;
}

#liltitle{
    position: fixed;
    left: 40%;
    top: 3%;
    font-size: 0.8em;
    text-transform: uppercase;
    /* background-color: pink; */
    /* font-family: pragmatapro-fraktur, serif;
    font-weight: 700;
    font-style: normal; */
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 700;
    font-style: normal;
    z-index: 99;
}

.navbar{
    position: fixed;
    line-height: 1.5em;
    width: 32em;
    /* background-color: orangered; */
    display: flex;
    flex-wrap: wrap;
    bottom: 2em;
    margin: 1.5em;;
}

h2{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1em;
    font-weight: 300;
}

.tag{
    border: black 0.1em solid;
    background-color: white;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.1em .5em 0.1em .5em;
    margin: 0.2em 0.1em;

}

.grid{
    position: absolute;
    left: 20em;
    top: 4em;
}
.gallery{
    width: 7em;
    height: 9em;
    object-fit: cover;
    padding: .2em;
}

a:link{
    color:black;
    text-decoration: none;
}

a:hover{
    color: orangered;
    text-decoration: none;
    cursor: none;
}

#liltitle a:hover{
    color: orangered;
}

a:visited{
    color:black;
    text-decoration: none;

}

a:active{
    color:black;
    text-decoration: none;

}

#title a:link{
    color: white;
}

#title a:hover{
    color: orangered;
}

#title a:visited{
    color: white;
}

#title a:active{
    color: white;
}

/* #everything:hover{
    border:none;
    background-color: rgb(15, 179, 43);
} */

.tag:hover{
    background-color: orangered;
    border: orangered 0.1em solid;
    color:white;
    text-decoration: none;

}

.cursor {
    height: 40px;
    width: 40px;
    position: absolute;
    pointer-events: none;
    z-index: 100;
}

.cursorImage {
    height: 40px;
    width: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
}

body {
    cursor: none;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */