body{
    font-family: 'Space Grotesk', sans-serif;
    /* background-color: rgb(255, 91, 15); */
    /* margin: 100px;  */
}
.img{
    position: absolute;
    width: 1500px;
    left: -10px;
    top: -50px; 
} 


#description{
    width: 290px; 
}

#everything{
    position: absolute;
    font-size: 13px;    
    width: 600px;
    padding: 70px;
    padding-right: 0px;
    right: 70px; 
    top: 50px; 
    background-color: white;
    border-radius: 40px; 
    /* border: 10px rgb(255, 213, 0) dotted; */
}

#ingredients li:before {
    content: "✦";
    font-size: 10px; 
    padding-right: 5px;
    
  } 

a{
    color: red;
    text-decoration: none;
    color: rgb(255, 91, 15);
    font-style: italic; 
}

.instruct{
    margin-top: 20px; 
}

h2{
    text-transform:uppercase;
    font-size: 18px; 
    margin-bottom: -10px; 
    padding-bottom: -10px; 
}

ul{
    padding-top: -20px;
    list-style: none;
    margin-left: -30px;
    line-height: 17px;
}

ol{
    padding-top: -20px;
    margin-left: -8px;
    line-height: 19px;
}

#ingredients{
    margin-top: 5px;
    /* padding: 20px; */
    position: absolute;
    top: 120px; 
    left: 400px; 
    /* color:rgb(255, 91, 15);  */
    /* border-radius: 30px; */
}