
/* All of the styles inside this media query will only apply IF the screen is _____ than ___px */
@media screen and (max-width: 480px) {
    body {
        width: 90%;
        background-color:gold;
        color:deeppink; 
        font-family: 'Recursive', monospace;
        font-variation-settings: 'mono' 0, 'casl' 0, 'wght' 300, 'slnt' 0, 'crsv' 0; 
        /* padding: 5%; */
        margin: 100px; 

    }
    
    h1{
        font-size: 120px;
        width: 50%;

    }
    
    h2{
        color:mediumpurple;

    }
    
    p{
        width: 50%;

    }
}

/* All of the styles inside this media query will only apply IF the screen is _____ than ___px. */
@media screen and (min-width: 481px) {
    body {
        width: 90%;
        background-color: cornflowerblue;
        color:plum;
        font-family: 'Recursive', monospace;
        font-variation-settings: 'mono' 0.24, 'casl' 0.23, 'wght' 464, 'slnt' -4.4, 'crsv' 0; 
        /* padding: 8%; */
        margin: 100px; 

    }

    h1{
        font-size: 100px;
        width: 60%;


    }

    h2{
        color:mediumblue;

    }

    p{
        width: 60%;

    }
}

/* All of the styles inside this media query will only apply IF the screen is _____ than ___px. */
@media screen and (min-width: 768px) {
    body {
        width: 90%;
        background-color:lightcoral;
        color:royalblue;
        font-family: 'Recursive', monospace;
        font-variation-settings: 'mono' 0.52, 'casl' 0.52, 'wght' 658, 'slnt' -7.2, 'crsv' 0; 
        /* padding: 10%; */
        margin: 100px; 

    }

    h1{
        font-size: 80px;
        width: 70%;

    }

    h2{
        color:orange;

    }

    p{
        width: 70%;

    }
}



/* All of the styles inside this media query will only apply IF the screen is _____ than ___px. */
@media screen and (min-width: 1024px) {
    body {
        width: 90%;
        background-color:yellowgreen;
        color:orangered; 
        font-family: 'Recursive', monospace;
        font-variation-settings: 'mono' 0.77, 'casl' 0.77, 'wght' 836, 'slnt' -11.5, 'crsv' 0.5; 
        /* padding: 14%; */
        margin: 100px; 

    }

    h1{
        font-size: 60px;
        width: 80%;

    }

    h2{
        color:cornflowerblue;

    }

    p{
        width: 80%;

    }
}

/* All of the styles inside this media query will only apply IF the screen is _____ than ___px. */
@media screen and (min-width: 1200px) {
    body {
        width: 90%;
        background-color:darkslateblue;
        color: ivory;
        font-family: 'Recursive', monospace;
        font-variation-settings: 'mono' 1, 'casl' 1, 'wght' 1000, 'slnt' -15, 'crsv' 0; 
        /* padding: 20%; */
        margin: 100px; 

    }
    
    h1{
        font-size: 40px;
        width: 90%;

    }
    
    h2{
        color:lightseagreen;
    }
    
    p{
        width: 90%;
    }
}
