
body{
    font-family: 'Karla', sans-serif;
    background-color: lavenderblush;
    padding: 50px;
}

#back{
    font-size: 50px;
    position: absolute;
    left: 100px; 
    top: 350px; 
}

#forward{
    font-size: 50px;
    position: absolute;
    right: 100px; 
    top: 350px; 
}

#text{
    position: absolute;
    left: 300px; 
    width: 550px;
}

a{
    color: black;
    text-decoration: none;
    font-style: italic; 
}

