body{
  background: ivory;
  font-family: playfair display;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 3rem;
  margin-left: 1em;
  margin-top: -1em;
}

h1{
  font-size: 5.5rem;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
  font-style: normal;
  color:rgb(31, 31, 31);
}

h2 {
  font-size: 5rem;
  line-height: 1.2em;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(31, 31, 31);
  width: 20ch;
}

.hidden {
display: none !important;
}

/* what do you want your shelf to look like? play with line 27 if you want it to appear as a line */
.shelf {
border-bottom: 3px solid rgb(255, 72, 26); 
margin-bottom: 2em;   
margin-top: -1em;
margin-right: 1em;
display: flex;
align-items: flex-end;
}

/* styling the books on the shelf- play with lines 38-42 or delete them and comment in lines 43-47 if you want thin spines of books */
.shelf .book-spine {
background:cornflowerblue;
color: ivory;
margin-bottom: 5px;
margin-right: 5px; 
height: 290px;
width: 80px; 
padding: 10px; 
transform: rotate(180deg);
writing-mode: vertical-lr;
line-height: 30px;
font-size: 1.8rem;
cursor: grabbing;

}


.shelf .book-spine.active {
background: cornflowerblue;
color: white;
}

.shelf .book-spine:hover {
background: rgb(189, 255, 6);
color: rgb(48, 44, 44);
}

.book-detail {
display: flex;
margin-top: -50px;
}

.book-detail .figure {
width: 200px;
flex: none;
margin-right: 30px;
}

.book-detail .cover-image {
width: 100%;
/*   border: 5px solid black; */
padding: 5px;
box-sizing: border-box;
}

.book-detail .info {
max-width: 500px;
font-size: 20px;
}

.book-detail .title {
font-size: 40px;
margin-top: 0;
}

.book-detail .description {
margin-top: 0.5em;
font-size: 18px;
line-height: 1.5;
}


/* make it responsive */
@media (max-width: 600px) {
.book-detail {
  flex-direction: column;
}
.book-detail .figure {
  width: 100%;
  max-width: 300px;
  margin: auto;
  margin-bottom: 2em;
}
}