/* Flashlight Overlay https://codemyui.com/flashlight-mouse-pointer/*/
:root {
    cursor: none;
    --cursorX: 50vw;
    --cursorY: 50vh;
  }
  :root:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    z-index: 900;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(
      circle 10vmax at var(--cursorX) var(--cursorY),
      rgba(0, 0, 0, 0) 0%,
      rgba(0,0,0,.2) 100%,
      rgba(0, 0, 0, 0.95) 150%
    )
  }

  /* experiment Overlay https://codemyui.com/flashlight-mouse-pointer/*/
/* :root {
    cursor: none;
    --cursorX: 50vw;
    --cursorY: 50vh;
  }
  :root:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    z-index: 900;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(
      circle 10vmax at var(--cursorX) var(--cursorY),
      rgba(0, 0, 0, 0) 0%,
      rgba(0,0,0,.5) 100%,
      rgba(38, 0, 255, 0.95) 150%
    )
  } */


body{
    padding: 5%;
    font-size: 15px;
    /* background-color:darkolivegreen; */
    /* font-family: 'IM Fell English', serif; */
    font-family: projbb;
    background-color: black;
    margin: 10%;
}

@font-face{
    font-family: 'projbb';
    src: url(projektbb.woff2);
}

h1{
    color: white;
    font-size: 115px;
    position: absolute;
    top: 10px; 
    line-height: 100px;
    left: 100px;
}
a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:active{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration:none;
    font-weight: 500;    
    color: tomato;
    font-size: 20px;
    /* position: absolute; */
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
    
}

.paper{
    background-color: rgb(243, 238, 217);
    /* margin: 50px; */
    padding: 100px; 
    border-radius: 0px;
    width: 600px;
    position:absolute;
    top: 300px;
    left: 500px;
    z-index: 1;
    border-radius: 20px;
}

.nicolediary{
    background-color:tomato;
    /* margin: 50px; */
    padding: 100px; 
    border-radius: 0px;
    width: 500px;
    position:absolute;
    top: 350px;
    left: 50px;
    z-index: 2;
    border-radius: 20px;
}

img{
    width: 500px;
    position: center;
}

.timeline{
    background-color:midnightblue;
    color: white;
    /* margin: 50px; */
    padding: 100px; 
    border-radius: 0px;
    width: 400px;
    position:absolute;
    top: 200px;
    left: 200px;
    z-index: 3;
    border-radius: 20px;
}


#content{
    position: absolute;
    left: 20px;
    top: 60px;
    margin: 50px;
}

#notes{
    position: absolute;
    right: 20px;
    top: 20px;
    margin: 50px;

}

input{
    width: 300px;
    height: 300px;
    /* background-color: khaki; */
    font-family: arial;
    border: none; 
    margin: 10px;
}

#note1{
    background-color:palevioletred;
}

#note2{
    background-color:khaki;
}

#note3{
    background-color:skyblue;
}

div.nicolediary:hover{
    z-index: 4;
}

div.paper:hover{
    z-index: 4;
}

div.timeline:hover{
    z-index: 6;
}

div.pink:hover{
    z-index: 99;
}

/* #shadow{
    position: absolute;
    top:10%; 
    left: 30%;
    background-color:black;
    opacity: 10%;
    margin: 5%;
    padding: 10%; 
    border-radius: 1%;
    order: 99;
} */
/* 
.hidden{
    
} */

button{
    width: 20em;
    background-color: transparent;
    border: none;
    font-family: projbb;
    font-size: 15px;
  }
  
   button:hover span {
    display: none;
    text-decoration: none;
  }
  
   button:hover:before {
    content: "Please note that the letter was not addressed to anyone in particular."
  }