html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vw;
    /* background:linear-gradient(135deg, rgba(251, 255, 254), rgb(242, 261, 249)) ; */
    background-image: url(tiles.webp);
    background-size:100vh;
    position: fixed;

}

/* .bubble {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: rgba(247, 255, 255, 0.5);
    border: solid .1rem rgba(106, 198, 198, 0.2);
    border-radius: 50%;
    box-shadow: inset -.3rem -.3rem .8rem rgba(106, 198, 198, 0.3);
    cursor: pointer;
} */

.bubble {
    position: absolute;
    width: 20rem;
    height: 25rem;
    background-image:url(paper.png);
    background-size: cover;
    cursor: pointer;
}

#hand{
    width: 40em;
    position: absolute;
    z-index: 100;
    bottom: 0em;
}

h1{
    position: absolute;
    bottom: 2em;
    z-index: 100;
    left: 35%;
    color: orangered;
}